@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-bottom: 80px; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.player-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; 
  z-index: 1000;
}

@media (max-width: 768px) {
  body{
    padding-bottom: 150px;
  }
}