@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-bottom: 80px; 
}

@layer base {
  body {
    @apply font-primary; /* Primary font for all text by default */
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-secondary; /* Secondary font for headings */
  }
}
.player-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; 
  z-index: 1000;
}

@media (max-width: 768px) {
  body{
    padding-bottom: 150px;
  }
}